body {
  font-family: Arial, sans-serif;
  background-color: #8c8686;
  text-align: center;
}

#game {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

#score {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.ponto {
  color: #336652;
  font-size: 26px;
}
.restart {
  display: none;
}
.restart2 {
 
  margin-top: 10px;
  --color: #0c0d0d;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(white);
  z-index: 1;
  border-radius: 10px;
}
.restart2::before,
.restart2::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 60%;
  z-index: -1;
  background-color: green;
  transition: 1s ease;
}

.restart2::before {
  top: -1em;
  left: -1em;
}

.restart2::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.restart2:hover::before,
.restart2:hover::after {
  height: 410px;
  width: 410px;
}

.restart:hover {
  color: rgb(10, 25, 30);
}

.restart2:active {
  filter: brightness(0.8);
}
.restart {
  margin: auto;
  margin-top: 10px;
  --color: #0c0d0d;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(white);
  z-index: 1;
  border-radius: 10px;
}
.restart::before,
.restart::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 60%;
  z-index: -1;
  background-color: green;
  transition: 1s ease;
}

.restart::before {
  top: -1em;
  left: -1em;
}

.restart::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.restart:hover::before,
.restart:hover::after {
  height: 410px;
  width: 410px;
}

.restart:hover {
  color: rgb(10, 25, 30);
}

.restart:active {
  filter: brightness(0.8);
}
#board {
  margin-left: -100px;
  border: 2px solid #252222;
  width: 800px;
  height: 620px;
  position: relative;
  border-radius: 10px;
  background-color: #3f3d3d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5da396;
  position: absolute;
  cursor: pointer;
  user-select: none;
  animation-name: float;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border: 2px solid rgb(186, 200, 188);
}

.bubble:hover {
  background-color: #336652;
}
